.container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 48%; 
    left: 15%; 
    right: 17%;
    transform: translate(-50%, -50%); 
    color: #de0000; 
    padding: 10px 19px; 
    font-size: 20px; 
    text-align: center;